* {
    box-sizing: border-box;
    margin: 0;
}

body {
    /* font-family: 'Open Sans', sans-serif; */
}

.logo {
    width: 300px;
    height: 250px;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

.gallery-img {
    width: 400px;
    margin: 20px 10px;
    /* Animation */
    transition: transform .2s;
}

.gallery-img:hover {
    transform: scale(1.05);
}

.fab {
    margin: 0 20px;
}